.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr); /* Added an additional column */
    grid-template-rows: repeat(2, auto); /* Two rows */
    gap: 20px;
    margin: 20% 5% 20% 5%;
}
.grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}
.left-column {
    background-color: #eee; /* Different background color for distinction */
    padding: 20px;
    text-align: center;
    grid-row: 1 / span 2; /* Span 2 rows to ensure it covers the height */
}